<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.msw.mesapp">

    <!-- 蓝牙相关 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER_ADVANCED" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- NFC权限 -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginNfcActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.home.quality.TestCheckActivity" />
        <activity android:name=".activity.home.quality.TestCheck2Activity" />
        <activity android:name=".activity.home.quality.TestCheckProductActivity" />
        <activity android:name=".activity.home.quality.TestReleaseActivity" />
        <activity android:name=".activity.home.warehouse.MaterialInActivity" />
        <activity android:name=".activity.home.warehouse.MaterialOutActivity" />
        <activity android:name=".activity.home.warehouse.ProductInActivity" />
        <activity android:name=".activity.home.warehouse.ProductOutActivity" />
        <activity
            android:name=".activity.me.ModifyPasswordActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.home.equipment.InspectWorkerActivity" />
        <activity android:name=".activity.home.equipment.InspectWorkerDetailActivity" />
        <activity
            android:name=".activity.home.equipment.InspectWorkerJudgeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.home.equipment.InspectWorkerJudgeErrActivity" />
        <activity android:name=".activity.home.quality.TestCheckDetailingActivity" />
        <activity android:name=".activity.home.quality.TestCheckDetailedActivity" />
        <activity android:name=".activity.home.quality.TestCheck2DetailingActivity" />
        <activity android:name=".activity.home.quality.TestCheck2DetailedActivity" />
        <activity android:name=".activity.home.quality.TestCheckProductDetailingActivity" />
        <activity android:name=".activity.home.quality.TestCheckProductDetailedActivity" />
        <activity android:name=".activity.home.quality.TestReleaseDetailingActivity" />
        <activity android:name=".activity.home.quality.TestRelease2DetailedActivity" />
        <activity android:name=".activity.home.quality.TestReleaseDetailedActivity" />
        <activity android:name=".activity.home.quality.TestRelease2DetailingActivity" />
        <activity android:name=".activity.home.equipment.InspectMonitorActivity" />
        <activity android:name=".activity.home.equipment.InspectMonitorDetailActivity" />
        <activity
            android:name=".activity.home.equipment.InspectMonitorJudgeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.home.equipment.InspectMonitorJudgeErrActivity" />
        <activity android:name=".activity.home.quality.TestCheckProcessActivity" />
        <activity android:name=".activity.home.quality.TestCheckProcessedActivity" />
        <activity android:name=".activity.home.quality.TestCheckProcessDetailActivity" />
        <activity android:name=".activity.home.quality.TestCheckProcessedDetailActivity" />
        <activity android:name=".activity.home.quality.TestRelease2Activity" />
        <activity android:name=".activity.home.quality.TestReleaseProcessDetailActivity" />
        <activity android:name=".activity.home.quality.TestReleaseProcessedDetailActivity" />
        <activity android:name=".activity.home.quality.TestReleaseProcessedActivity" />
        <activity android:name=".activity.home.quality.TestReleaseProcessActivity" />
        <activity android:name=".activity.home.warehouse.MaterialInActivityDetail1" />
        <activity android:name=".activity.home.warehouse.MaterialInActivityDetail2" />
        <activity android:name=".activity.home.warehouse.MaterialInActivityDetail1Scan" />
        <activity android:name=".activity.home.warehouse.MaterialInActivityDetail1Print" />
        <activity android:name=".activity.home.equipment.PhotoviewActivity" />
        <activity android:name=".activity.home.equipment.RepairScoreDetailActivity" />
        <activity android:name=".activity.home.equipment.RepairScoreDetail2Activity" />
        <activity android:name=".activity.home.equipment.RepairScoreActivity" />
        <activity android:name=".activity.home.equipment.RepairWorkDetailActivity" />
        <activity android:name=".activity.home.equipment.RepairBillActivity" />
        <activity
            android:name=".activity.home.equipment.RepairWorkDetail2Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.home.equipment.RepairWorkActivity" />
        <activity android:name=".activity.home.equipment.RepairReportDetailActivity" />
        <activity android:name=".activity.home.equipment.DeviceInfoActivity" />
        <activity android:name=".activity.home.equipment.QrManageActivity" />
        <activity android:name=".activity.home.equipment.RepairApplyActivity" />
        <activity android:name=".activity.home.id_management.IdManagementActivity" />
        <activity android:name=".activity.home.id_management.MemberNameActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.home.warehouse.MaterialOutCheckActivity" />
        <activity android:name=".activity.home.warehouse.MaterialOutActivityDetail1" />
        <activity android:name=".activity.home.warehouse.MaterialOutActivityDetail1Scan" />
        <activity android:name=".activity.home.warehouse.MaterialOutActivityDetail2" />
        <activity android:name=".activity.home.warehouse.MaterialOutCheckActivityDetail1" />
        <activity android:name=".activity.home.warehouse.MaterialOutCheckActivityDetail2" />
        <activity android:name=".activity.home.warehouse.ProductInAddActivity" />
        <activity android:name=".activity.home.warehouse.ProductInAddActivityDetail1" />
        <activity android:name=".activity.home.warehouse.ProductInAddActivityDetail1Scan" />
        <activity android:name=".activity.home.warehouse.ProductInActivityDetail1" />
        <activity android:name=".activity.home.warehouse.ProductInActivityDetail2" />
        <activity android:name=".activity.home.warehouse.ProductInActivityDetail1Scan" />
        <activity android:name=".activity.home.warehouse.ProductOutActivityDetail1" />
        <activity android:name=".activity.home.warehouse.ProductOutActivityDetail2" />
        <activity android:name=".activity.home.warehouse.ProductOutActivityDetail1Scan" />
        <activity android:name=".activity.home.warehouse.ProductOutCheckActivity" />
        <activity android:name=".activity.home.warehouse.ProductOutCheckActivityDetail1" />
        <activity android:name=".activity.home.warehouse.ProductOutCheckActivityDetail2" />
        <activity android:name=".activity.home.warehouse.SampleInActivity" />
        <activity android:name=".activity.home.warehouse.SampleOutActivity" />
        <activity android:name=".activity.home.warehouse.SampleInActivityDetial1" />
        <activity android:name=".activity.home.warehouse.SampleInActivityDetial1Scan" />
        <activity android:name=".activity.home.warehouse.SampleInActivityDetial2" />
        <activity android:name=".activity.home.warehouse.SampleOutActivityDetial1" />
        <activity android:name=".activity.home.warehouse.SampleOutActivityDetial1Scan" />
        <activity android:name=".activity.home.warehouse.SampleOutActivityDetial2" />
        <activity android:name=".activity.home.warehouse.MaterialOutUrgentCheckActivity" />
        <activity android:name=".activity.home.warehouse.ProductInAddActivityDetail2" />
        <activity android:name=".activity.home.production_management.ShaiwangManagement.ShaiWangManagement" />
        <activity android:name=".activity.home.production_management.JiaojiebanManagement.JiaoJieBanManagement" />
        <activity android:name=".activity.home.production_management.CheckScalesManagement.CheckScalesManagementDetails1" />
        <activity android:name=".activity.home.production_management.CheckScalesManagement.CheckScalesManagementDetails2" />
        <activity android:name=".activity.home.production_management.CheckScalesManagement.CheckScalesManagementDetails3" />
        <activity android:name=".activity.home.production_management.CheckScalesManagement.CheckScalesCheckDetails1" />
        <activity android:name=".activity.home.production_management.CheckScalesManagement.CheckScalesCheckActivity" />
        <activity android:name=".activity.home.production_management.CheckScalesManagement.CheckScalesMemberActivity" />
        <activity android:name=".activity.home.production_management.CheckScalesManagement.CheckScalesCheckDetails2" />
        <activity android:name=".activity.home.production_management.CheckScalesManagement.CheckScalesCheckDetails3" />
        <activity android:name=".activity.home.production_management.ShaiwangManagement.ShaiWangManagementDetails1" />
        <activity android:name=".activity.home.production_management.ShaiwangManagement.ShaiWangManagementDetails2" />
        <activity android:name=".activity.home.production_management.ShaiwangManagement.ShaiWangManagementDetails3" />
        <activity android:name=".activity.home.production_management.JiaojiebanManagement.JiaoJieBanManagementDetails1" />
        <activity android:name=".activity.home.production_management.JiaojiebanManagement.JiaoJieBanManagementDetails2" />
        <activity android:name=".activity.home.production_management.JiaojiebanManagement.JiaoJieBanManagementDetails3" />
        <activity android:name=".activity.ChangeServerActivity" />

    </application>

</manifest>